@font-face {
  font-family: 'JameelNooriNastaleeq';
  src: url('../fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin-left: 0;
  padding-left: 0;
}
.translator-containers {
  position: fixed;
  top: 70px; /* ہیڈر کے نیچے */
  left: 0; /* پوری چوڑائی پر پھیلائیں */
  width: 100%; /* پوری چوڑائی لیں */
  background-color: #333; /* ہیڈر جیسا کالا رنگ */
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* مترجمین کے درمیان جگہ */
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ہلکا شیڈو */
}

.translators {
  background-color: rgb(9, 118, 138);
  border-radius: 50px 20px;
  color: white;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.translators input {
  margin-right: 8px; /* چیک باکس اور لیبل کے درمیان جگہ */
}

.translators label {
  font-size: 14px;
  color: white;
}

/* ------------ SIDEBAR ------------ */


.surah-btns {
  /* margin-left: 10px; */
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  padding: 10px;
  direction: rtl;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%; /* بٹن کی چوڑائی مکمل کالم کے مطابق */
  box-sizing: border-box;

  padding: 10px;
  
}
.surah-btns p {
  margin: 0 10px; /* لیفٹ اور رائٹ ٹیکسٹ کے درمیان 10px کی جگہ */
}
.surah-btns:hover {
  background-color: #ddd;
}


/* ------------ MAIN ------------ */
.mains {
  flex: 1;
  margin-left: 170px; 
  margin-top: 120px;
  padding: 20px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  overflow-y: auto;
}

/* آیات کا کنٹینر */
.ayahs-containers {
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

.ayah-blocks {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
 
}

.arabic-texts {
  font-size: 20px;
  direction: rtl;
  text-align: right;
  color: #1c1c1c;
}

.translation-texts {
  font-size: 18px;
  font-family: 'JameelNooriNastaleeq', sans-serif;
  margin-top: 5px;
  color: #1c1c1c;
  direction: rtl;
}
/* نیا */
.grid-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sidebars {
  position: fixed;
  width: 200px;
  height: calc(100vh - 120px);
  overflow-y: auto;
  margin-right:150px;
}

@media (max-width: 950px) {
  .grid-containers {
    
    grid-template-columns: repeat(2, 1fr);
  }

  .sidebars {
    width: 200px;
  }
}

@media (max-width: 640px) {
  .grid-containers {
    grid-template-columns: repeat(1, 1fr);
  }

  .sidebars {
    width: 120px;
    margin-top: 20px;
  }
  .mains {
    flex: 1;
    margin-left: 100px; 
    margin-top: 120px;
    padding: 20px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    min-height: calc(100vh - 120px);
    overflow-y: auto;
  }
}

