
/* بنیادی ڈھانچہ */
.quran-container {
  display: flex; 
  min-height: 100vh;
  font-family: sans-serif;
}

/* سائیڈبار */
.sidebar {
  width: 250px; 
  background-color: #fff;
  border-right: 2px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;

}

/* مین سیکشن */
.main {
  flex: 1; 
  background-color: #f0f0f0;
  padding: 10px;
}

.mainButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 300px; 
  background-color: #f4f4f4; 
  margin: 20px; 
}


.mainButton {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.mainButton:hover {
  background-color: #45a049; 
}


.juz-btn {
  display: block;    
  width: 70px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.juz-btn:hover {
  background-color: #ddd;
}
.juz-btn p{
  padding: 10px;
}
/* منتخب شدہ بٹن کو ہائی لائیٹ کرنے کے لیے */
.juz-selected {
  background-color: #4CAF50; /* آپ اپنی مرضی کا رنگ رکھیں */
  color: #fff;
}

/* آیات کا کنٹینر */
.ayahs-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

/* ہر آیت بلاک */
.ayah-block {
  margin-bottom: 10px;
  position: relative;
  /* border-bottom: 1px solid #ddd; */
  /* padding-bottom: 5px; */
}
.AyahNumber{
  background-color:#fff;
  color: #0e0202;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 300px;
  border-radius: 50%;
}
/* عربی متن */
.arabic-text {
  font-size: 20px;
  direction: rtl;
  text-align: right;
  color: #1c1c1c;
}
